html {
	margin: 0;
	min-height: 100%;
}

body {
	margin: 0;
	height: 100%;
	background: url(../img/bg1.jpg)no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
}

.lb-album {
	width: 1080px;
	margin: 0 auto;
	padding-top: 20px;
	font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
}

#myImg {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImg:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 40px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background: rgb(66 100 123) 100%);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgb(66 100 123) 100%);
	;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.56)), color-stop(100%, rgba(66, 100, 123, 1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgb(66 100 123) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgb(66 100 123) 100%);
	;
	background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgb(66 100 123) 100%);
	;
	background: radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.56) 0%, rgb(66 100 123) 100%);
	;
}

.modal-content {
	margin: 0 auto;
	display: block;
	width: 70vw;
	height: 74vh;
	//max-width: 700px;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	padding-top: 10px;
	width: 50vw;
	//max-width: 700px;
	letter-spacing: 6px;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#caption p {
	margin: 6px 4px;
}

/* Add Animation */
.modal-content,
#caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {
		-webkit-transform: scale(0)
	}

	to {
		-webkit-transform: scale(1)
	}
}

@keyframes zoom {
	from {
		transform: scale(0)
	}

	to {
		transform: scale(1)
	}
}

/* The Close Button */
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover,
.close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

.lb-album li {
	list-style: none;
	float: left;
	padding: 8px;
	margin: 10px 8px;
	background: #fff;
	box-shadow: 5px 7px 8px 1px rgba(219, 219, 219, 0.7), 1px 1px 2px rgba(219, 219, 219, 0.7);
	border-radius: 6px;
	position: relative;
}
